@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Purple+Purse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Purple+Purse&display=swap');
.body{
    padding: 0px !important;
    margin: 0px !important;
}
.uni-link{
    text-decoration: none !important;
    color: black !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
}
.nav-contain{
    width: 1057px !important;
    margin: 25px auto;
}
.nav-logo{
    width: 126px;
    height: 28px;   
}
.web-btn{
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    padding: 10px !important;
    border-radius: 8px !important;
}
/* /// first section starts */
.section-container{
    margin: 0px 8px !important;
    height: 778px;
    /* background-color: #000; */
}
.glass-morphism{
    /* height: 90vh !important; */
    /* max-width: 100% !important; */
    display: flex;
    align-items: center;
    background-image: url(./assets/images/gradient.png);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.first-sec{
    max-width: max-content !important;
}
.first-content {
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    /* align-items: space-around !important;  */
    text-align: left;
    height: auto;
    width: 83%;
    padding: 70px 0px;

}
.first-upper-content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
.first-badge {
    background: #FFE785 !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    width: 127.59px !important;
    padding: 2px 10px !important;
    border-radius: 6px !important;
}
.first-content h1 {
font-family: Bricolage Grotesque;
font-size: 56px;
font-weight: 600;
line-height: 57.2px;
letter-spacing: -1.1200000047683716px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.first-content p {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.first-content-p {
    font-family: Inter !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    text-align: left !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
}
.first-content-pp {
font-family: Inter !important;
font-size: 16px !important;
font-weight: 400 !important;
line-height: 24px !important;
text-align: left !important;
text-underline-position: from-font !important;
text-decoration-skip-ink: none !important;
/* background-color: #000; */
width: 70%;
}
.first-input-group {
    display: flex;
    justify-content: space-between;
    width: 368px;
padding: 4px;
border-radius: 13px !important;
border: 1px solid #E8E6F0
}
.first-input-group input {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px;
    border: none;
    outline: none;
}
.first-input-group-button{
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    width: 146.02px;
padding: 10px;
border-radius: 8px;


}
.first-disclaimer {

    font-family: Inter !important;
font-size: 12px  !important;
font-weight: 400 !important;
line-height: 20px !important;
text-align: left !important;
text-underline-position: from-font !important;
text-decoration-skip-ink: none !important;

}
.first-user-info {
    display: flex;
    /* padding-left: 100px */
    justify-content: start;
    align-items: end;
    /* margin-top: 20px; */
    height: 20%;
}
.first-user-info img {
    width: 48px;
    height: 48px;
    /* margin: 0 5px; */
}
.first-user-info .text {
    margin-left: 10px;
    text-align: left;
}
.first-user-info .ftext .count {
    color: #000;
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.first-user-info .text .label {
    color: #999;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.f-img{
    width: 130px;
}
.user-two{
    position: absolute;
    z-index: 1;
    left: 39px !important;
}
.user-three{
    position: absolute;
    z-index: 2;
    left: 80px !important;
}
.boy-img{
width: 100%;
/* width: 625.59px;
height: 625.59px; */

}
.boy-surround-one{
    /* width: 100%; */
    position: absolute;
    bottom: 120px;
    left: 0px;

}
.boy-surround-two{
    position: absolute;
    top: 300px;
    left: 310px;
}
.boy-surround-three{
    position: absolute;
    top: 115px;
    right: 70px;
}
/* second section starts ////// */
.sec-sec{
    margin-top: 80px;
    padding: 50px 0px;
}
.sec-right-heading{
    font-family: Bricolage Grotesque;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.2800000011920929px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.sec-left-child{
margin: 0px !important;
padding: 0px !important;
width: 70%;
}
.sec-right-child{
width: 90%;
}
.second-section{
    max-width: 944px !important;
    /* height: 152px; */
}
/* third section starts / logos section ////// */
.logos{
    width: 110px;
    height: 27px;    
}
.logos-div{
display: flex;
align-items: center;
justify-content: center;
padding: 25px;
}
.logos-sec{
    margin-bottom: 80px;
}
/* cards section ////// */
.third-section{
    margin-top: 230px;
}
.cards-sec{
    max-width: 1036px !important;
}
.cards-upper-sec{
    width: 574px !important;
height: 219.19px !important;
}
.upper-sec h2{
font-family: Bricolage Grotesque;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
letter-spacing: -0.47999998927116394px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.upper-sec p{
width: 304px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
/* background-color: #000; */
}
.lower-sec{
    margin-top: 70px !important;
display: flex;
justify-content: center;
}
.cards-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 333px;
    height: 544.78px;
    /* border-radius: 24px; */
    box-shadow: 0px 20px 56px 0px #45417129;
    /* background-color: black; */
}
.cards-header {
    /* background-color: #45417129; */
    margin-bottom: 20px;
    /* margin-top: 20px; */
}
.cards-header img {
    width: 50px;
    margin-bottom: 10px;
}
.cards-header h1 {
font-family: Bricolage Grotesque;
font-size: 27px;
font-weight: 600;
line-height: 35.4px;
letter-spacing: -0.2800000011920929px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.cards-header p {
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 24px;
/* text-align: center; */
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.cards-learn-more{
background: #FFFFFF;
width: 272px;
/* height: 36px; */
padding: 10px 0px !important;
border: 1px solid #E8E6F0;
border-radius: 8px;
box-shadow: 0px 0px 0px 1px #E8E6F0;    
box-shadow: 0px 1px 1px 0px #0D0C100A;
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.cards-updates {
    background-color: #f0f0f5;
    border-radius: 20px;
    width: 315px;
    height: 248px;
}
.cards-updates-img{
    width: 100%;
}
.icon-parent{
    width: 100%;
    height: 50px;
}
.cloud-icon{
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    top: -60px;
    left: 100px;

}
/* about section ///// */
.fourth-section{
    margin-top: 210px;
}
.about-upper{
    width: 574px;
height: 192px;
}
.about-upper img{
    width: 72px;
    height: 72px;    
}
.about-upper h2{
    font-family: Bricolage Grotesque;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.3199999928474426px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.about-upper p{
    width: 304px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;    
}
.about-lower img{
    margin-bottom: 13px;
    width: 44px;
    height: 44px;
    /* padding: 11px;x   */
    border-radius: 10px;
}
.about-lower h2{
    font-family: Bricolage Grotesque;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.about-lower p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
/* slide section completed  ////// */
.fifth-section{
    margin-top: 180px;
}
.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: left;
    padding: 20px;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
.slide-tag {
border: 1px solid #E8E6F0;
font-family: Inter !important;
font-size: 12px !important;
font-weight: 500 !important;
line-height: 20px !important;
text-align: center !important;
text-underline-position: from-font !important;
text-decoration-skip-ink: none !important;
width: 127.59px !important;
padding: 2px 10px !important;
border-radius: 6px !important;
}
.slide-container h1 {
    margin-top: 16px;
    width: 444px;
font-family: Bricolage Grotesque;
font-size: 40px;
font-weight: 600;
line-height: 48px;
letter-spacing: -0.4000000059604645px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.slide-container span {
    color: #888;
}
.slide-container p {
margin-top: 10px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.slide-button {
margin-top: 13px;
padding: 8px 10px;
border-radius: 8px;            
background: #0D0C10;
color: #fff;
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 20px !important;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 115px;
}
.slide-features {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    margin-top: 30px;
}
.slide-features li {
    color: #000;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.slide-features li i {
    /* color: #000; */
    /* background-color: red; */
    margin-right: 10px;
    font-size: 16.25px;
}
.slide-small-image {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 330px;
    right: 20px;
    text-align: right;
}
.slide-small-image img {
    width: 80px !important;
    height: 80px !important;   
}
.slide-main-image{
    margin-left: 45px;
    width: 100%;
    height: 100%;
}
.main-second-image{
    margin-left: -45px !important;
    width: 100%;
    height: 100%;
}
/* ///// reviews section */
.seventh-section{
    margin-top: 80px;
    padding: 120px 0px !important;
}
.dark-section{
    max-width: 1247px !important;
    border-radius: 25px;   
    background: #0D0C10; 
}
.reviews-sec{
    max-width: fit-content;
}
.upper-header{
    width: 500px;
}
.reviews-upper h2{
    margin-top: 15px;
font-family: Bricolage Grotesque;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
letter-spacing: -0.47999998927116394px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}
.reviews-upper img{
    width: 48px;
    height: 48px;
}
.reviews-card {
    /* background-color: #1E1E1E; */
    /* background: #17161D; */
    /* background: blue; */
    background: #0D0C10;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 448px;
height: 258px;
border-radius: 16px;
}
.reviews-right{
    margin-right: 3px !important;
}
.reviews-left{
    margin-left: 3px !important;
}
.parent-reviews-card{
    background: #17161D;
    width: 464px;
    height: 290px;
    padding: 8px 8px 24px !important;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px !important;
}
.reviews-stars {
    margin-bottom: 10px;
    font-size: 20px;
    
}
.rev-stars-one{
    color: #FFE785;
}
.rev-stars-two{
    color: #85C6FF;
}
.rev-stars-three{
    color: #FF85D6;
}
.rev-stars-four{
    color: #9585FF;
}
.reviews-title {
    font-family: Inter;
    margin-bottom: 10px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.reviews-description {
    color: #B0B0B0;
    margin-bottom: 30px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }
.reviews-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews-logo {
    display: flex;
    align-items: center;
}
.company{
    width: 112.01px !important;
/* height: 12px; */
}
.reviews-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}
.reviews-read-more {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.reviews-read-more:hover {
    text-decoration: underline;
}
/* /////// */
/* second cards section */
.eighth-section{
        margin-top: 140px;
}
.eighth-section .cards-updates img{
    width: 100%;
border-radius: 16px ;

}
.eighth-section .cards-updates{
height: fit-content;
margin-top: 20px;
}
.eighth-section .cards-container{
    /* width: 368px; */
height: 500.78px;
border-radius: 24px;
}
.third-badge{
    background: #F4F3F8;
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    /* width: 127.59px !important; */
    padding: 2px 10px !important;
    border-radius: 6px !important;
    margin-left: 8px;
}
.bread-crumbs{
    margin-top: 20px !important;
    width: 100%;
}
.eighth-section .cards-header button{
margin: 0px !important;
margin-top: 10px !important;
width: 100% !important;
/* background-color: #000 !important; */
}
.eighth-section .cards-header h1{
    font-family: Bricolage Grotesque;
    font-size: 24px;
font-weight: 600;
line-height: 32.4px;
letter-spacing: -0.23999999463558197px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 10px;
/* margin-bottom: 30px; */
}
.eighth-section .cards-header p{
    font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.sec-card-header{
    text-align: left;
}
/* //////// */
/* status ///////////////////////// */
.ninth-section{
    margin-top: 250px;
}
.status-container {
    background-color: #111;
    /* background-color: blue; */
    color: white;
    text-align: center;
    padding: 60px 20px;
    padding-top: 80px;
    position: relative;
border-radius: 25px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* max-width: 600px; */
/* height: 293.59px !important; */
width: 894px !important;
border-radius: 32px;

}
.status-container-logo  {
    position: absolute;
    /* border-radius: 50%; */
    /* background-color: #333; */
    width: 80px;
    height: 80px;
    top: -40px;  
}
.status-container-logo img {
    /* position: absolute; */
    /* border-radius: 50%; */
    /* background-color: #333; */
    width: 100%;
    height: 100%;
    /* top: -40px;   */
}
.status-container h1 {
    margin-top: 10px;
    font-family: Bricolage Grotesque;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
letter-spacing: -0.47999998927116394px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.status-container p {
    margin-top: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C8C6D3;
    
}
.status-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    margin-bottom: 20px;
    font-family: Bricolage Grotesque;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.20000000298023224px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.staticon{
    width: 4px;
height: 4px;
border-radius: 4px ;
background: #52505F;
}
.status-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.status-button-container button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px ;  
    font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  
}
.status-button-container span {
    color: #aaa;
}
/* ////////// */
/* faq-sectoion ////////////////////////// */
.tenth-section{
    margin-top: 260px;
}
.faq-img-one{
    width: 80px;
    height: 80px; 
    position: absolute;
    top: 64px;  
    right: 52px;
}
.faq-img-two{
    width: 80px;
    height: 80px;   
    position: absolute;  
    top: 435px;
    left: 32px;
}
.upper-faq h2{
 margin-top: 15px;   
}
.upper-faq p{
    margin-top: 10px;
}
.faq-badge{
    background: #FFE785 !important;
    font-family: Inter !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    text-align: center !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    /* width: 127.59px !important; */
    padding: 2px 10px !important;
    border-radius: 6px !important;
}
.faq-para{
    width: 100% !important;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
/* ////// */
.mid-faq {
    /* background-color: tomato; */
    margin-top: 30px !important;
}
.faq-sec-row-container {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    gap: 18px;
}
.faq-sec-row-container span{
    font-family: Bricolage Grotesque;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.faq-sec-row-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 302px;
height: 74px;
padding: 25px ;
border-radius: 12px;
border: 1px;
   /* transition: all 0.3s ease; */
}
.faq-sec-row-card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* border: 2px solid #6c63ff; */
    border: 1px solid #9585FF
}
.faq-sec-row-card img {
    font-size: 24px;
    margin-right: 10px;
}
/* ///// */
.lower-faq {
    /* background-color: tomato; */
    margin-top: 30px !important;
}
.faq-third-row-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;

    width: 620px !important;
/* height: 216.39px !important; */
}
.faq-third-row-container h1 {
    margin-bottom: 20px;
    font-family: Bricolage Grotesque;
    font-size: 24px;
    font-weight: 600;
    line-height: 32.4px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.faq-third-row-faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}
.faq-third-row-faq-item:last-child {
    margin-bottom: 0;
}
.faq-third-row-faq-item p {
    margin: 0;
    font-size: 18px;
    flex-grow: 1;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.faq-third-row-faq-item i {
    font-size: 12px;
    margin-left: 10px;
}
/* ///////////// footer section */
/* ///// footer card */
.eleventh-section{
    margin-top: 100px;
    padding-top: 120px;
    padding-bottom: 30px;
}
.footer-card{
    width: 280px;
    height: 168px;
}
.footer-card img{
    width: 56px;
    height: 56px;
    margin-bottom: 20px;
}
.footer-card h2{
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: #FFFFFF;
    margin-top: 20px;
   
}
.footer-card p{
    color: #878493;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;   
    margin-top: 5px; 
}   
/* ///////////// */
.mid-footer{
    margin-top: 140px !important;
}
.lower-footer{
    margin-top: 130px !important;
}
.footer-subscribe{
    /* background-color: #9585FF; */
    width: 368px;
height: 76px;
}
.footer-subscribe h2{
    font-family: Bricolage Grotesque;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.1599999964237213px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}
.footer-subscribe p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #878493;
    
}
.footer-input-sec h2{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.footer-input-sec input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #878493;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
line-height: 16.94px;
}
.footer-input-sec button{
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #9585FF;

}
.footer-input-sec .first-input-group{
    border: none;
}
.last-sec{
    width: 1036px !important;
}
/* ///////////// */
.footer-logo-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px; /* Increased spacing below the logo */
}
.footer-logo-logo img {
    /* margin-right: 10px; */
    width: 144px;
height: 32px;
}
.footer-logo-logo span {
    font-size: 24px;
    font-weight: bold;
}
.footer-logo-social-icons {
    margin: 20px 0;
padding: 0px;
    /* margin-right: 0px !important; */
}
.footer-logo-social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
}
.footer-logo-text {
    font-size: 14px;
    color: #b0b0b0;
    margin-top: 20px;
}
/* ///////// */
.sidebar {
    width: 200px;
    /* padding: 20px; */
}
.sidebar h2 {
    /* margin-bottom: 20px; */
    color: #FFFFFF;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.sidebar a {
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color: #878493;
  

    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.sidebar a .new {
    margin-left: 5px;
    color: #FFFFFF;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.sidebar a .new::before {
    content: '•';
    color: #9b59b6;
    margin-right: 5px;
}
/* //////////////////// */
.last-footer{
  margin-top: 80px !important;
}
.last-footer-span{
    color: #878493;
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.last-footer-span a{
    text-decoration: none;
    color: #E8E6F0;
}